// Import page-specific CSS files here.
@import "home";
@import "documents";



.button-edit {
  margin-bottom: 20px;
  margin-left: 20px;
  border: solid;
  border-width: 2px;
  display: flex;

  border-radius: 8px;
  padding: 10px;
  font-size: 15px;
  font-family: "comfortaa";
  width: 80px;
  margin-right: 15px;

  text-align: center;
  justify-content: center;
  color: white;
  text-decoration: none;
}

.button-edit  {
  width: 80px;
      color: white;
      background-color: #003986;
      cursor: pointer;
      font-size: 14px;

      margin: 0px;
      border-radius: 3px;
      //transition: all 80ms ease-in-out 0s;
      padding: 12px 16px;
      border-width: 2px;
      border-style: solid;

      margin: 0px;
      color: white;
      transition: 0.3s;
      text-decoration:none!important;
      border-radius:8px;
}


  .button-edit:hover {
  background-color: #e27536 !important;
 font-family: comfortaa;
 color: white;
 text-shadow: none;
 border-color: none !important;
 cursor: pointer;
}

a:hover{
  text-decoration:none !important;
}




