<nav class="navbar">
  <div class="navbar-box">
    <%=image_tag(("target.png"), :class =>"img-navbar")%>
    <div class="navabar-box-text">
    <h2 class="text-navbar">HeatMap</h2>
    </div>
  </div>

  <div class="navbar-box">
    <div class="navabar-box-text">
    <h2 class="text-navbar">Login</h2>
    </div>
    <%=image_tag(("login.png"), :class =>"img-navbar")%>
  </div>

</nav>
