
<div class="chart-container col-3" style=" justify-content: space-between; display: flex; height:20vh; width:40vw">
 <canvas id="barChart" width="200" height="200"></canvas>
 <canvas id="lineChart" width="200" height="200"></canvas>
 <canvas id="doughnutChart" width="200" height="200"></canvas>
</div>
