<h2 class="text-center py 10" style="color: white;">Up D</h2>

<div class="modal-card mx-auto text-center" style="width: 600px; padding: 20px; margin: 20px; text-decoration-color: black">
<%= simple_form_for  @project do |f| %>
  <%= f.input :name %>
  <%= f.input :sku %>
  <%= f.button :submit %>
<div class="button text-center" style="margin-top: 30px">
<% end %>
</div>
</div>


