.container-of-form {
padding-top: 100px;
}

.all-container-all {
  background: #0059D2;
  height: 100vh;
  width: 100vw;
}

.entire-form  {
  color: white;
  font-weight: 600;
  font-family: comfortaa;
}

.our-beautiful-button {
  background-color: white;
  border-radius: 4px;
  color: #0059D2 ;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.btn-formm {
 font-family: comfortaa;
 color: #0059D2;
 font-weight: bold;
 font-size: 20px;
}

