.container-of-form {
padding-top: 100px;
}

.all-container-all {
  background-image: linear-gradient(to bottom, #0059d2, #194fc1, #2245b0, #263c9f, #27338f);
  height: 3000vh;
  width: 100vw;
}

.entire-form  {
  color: white;
  font-weight: 600;
  font-family: comfortaa;
}

.our-beautiful-button{
  background-color: #00b32d!important;
  border-radius: 8px;
  color: #0059D2;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-style: solid;
  border-width: 1px;
  border-color: #00b32d;
  transition: all 80ms ease-in-out 0s !important;
}

