.container-of-form {
padding-top: 100px;
}


.all-container-all {
  background-image: linear-gradient(to bottom, #0059d2, #194fc1, #2245b0, #263c9f, #27338f);
  height: 3000vh;
  width: 100vw;
}


.entire-form  {
  color: white;
  font-weight: 600;
  font-family: comfortaa;
}


