.container-of-form {
padding-top: 100px;
}

.entire-form  {
  color: white;
  font-weight: 500;
  font-family: comfortaa;
}


.signup-btn:hover {
  color: white;
background-color: #408c0f;
}

.signup-btn {
cursor: pointer;
font-size: 14px;
border-radius: 8px;
padding: 12px 16px;
background-color: green;
color: white;
}




